body{
    padding-top: 56px;
    
    background-image: url('../imagenes/backBooks2.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
   }

#Datos{
    
    border-radius: 2%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 7%;
   }
